<a href="https://colab.research.google.com/github/difurigo/CP4_IoT_ML/blob/main/CP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios**

## 1. Carregue o dataset e exiba as 10 primeiras linhas.

## 2. Explique a diferença entre as variáveis Global_active_power e Global_reactive_power.

## 3. Verifique se existem valores ausentes no dataset. Quantifique-os.

## 4. Converta a coluna Date para o tipo datetime e crie uma nova coluna com o dia da semana correspondente.

## 5. Filtre os registros apenas do ano de 2007 e calcule a média de consumo diário de Global_active_power.

## 6. Gere um gráfico de linha mostrando a variação de Global_active_power em um único dia à sua escolha.

## 7. Crie um histograma da variável Voltage. O que pode ser observado sobre sua distribuição?

## 8. Calcule o consumo médio por mês em todo o período disponível no dataset.

## 9. Identifique o dia com maior consumo de energia ativa global (Global_active_power).

10. Compare o consumo médio de energia ativa global em dias de semana versus finais de
semana.
11. Calcule a correlação entre as variáveis Global_active_power, Global_reactive_power, Voltage
e Global_intensity.
12. Crie uma nova variável chamada Total_Sub_metering que some Sub_metering_1,
Sub_metering_2 e Sub_metering_3.
13. Verifique se há algum mês em que Total_Sub_metering ultrapassa a média de
Global_active_power.
14. Faça um gráfico de série temporal do Voltage para o ano de 2008.
15. Compare o consumo entre os meses de verão e inverno (no hemisfério norte).
16. Aplique uma amostragem aleatória de 1% dos dados e verifique se a distribuição de
Global_active_power é semelhante à da base completa.
17. Utilize uma técnica de normalização (Min-Max Scaling) para padronizar as variáveis numéricas
principais.
18. Aplique K-means para segmentar os dias em 3 grupos distintos de consumo elétrico. Interprete
os resultados.
19. Realize uma decomposição de série temporal (tendência, sazonalidade e resíduo) para
Global_active_power em um período de 6 meses.
20. Treine um modelo de regressão linear simples para prever Global_active_power a partir de
Global_intensity. Avalie o erro do modelo

### ***Importação de pacotes***

In [1]:
import pandas as pd

### ***Criação de um dataframe com base no arquivo .csv***

In [4]:
dados = pd.read_csv("/content/household_power_consumption.txt", sep=';', low_memory=False)

### ***Análise Exploratória***

In [ ]:
# Tamanho do conjunto de dados
print(f'O dataframe possui {dados.shape[0]} registros (linhas) e {dados.shape[1]} atributos (colunas)')

O dataframe possui 53940 registros (linhas) e 11 atributos (colunas)

In [ ]:
# Visualizar os primeiros registros
dados.head() # head(n) aceita parâmetro para número de registros

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [ ]:
dados.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [ ]:
# Informações dos dados das colunas
dados.info()

# Dados Categóricos ====> string
# Dados Numéricos ====> ind, float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [ ]:
# Estatísticas descritivas dos atributos numéricos
dados.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [ ]:
# Análise da coluna de preços dos diamantes (coluna 'price')
# Com base na população

media = dados['price'].mean()
mediana = dados['price'].median()
desvio_padrao = dados['price'].std() # (Standard Deviation)
minimo = dados['price'].min()
maximo = dados['price'].max()

print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Desvio Padrão: {desvio_padrao}')
print(f'Mínimo: {minimo}')
print(f'Máximo: {maximo}')

Média: 3932.799721913237
Mediana: 2401.0
Desvio Padrão: 3989.4397381463023
Mínimo: 326
Máximo: 18823

### ***Geração de amostras***

Percentual: 2.5%

Amostra 1 - Registros iniciais

Amostra 2 - Registros finais

Amostra 3 - Registros centrais

Amostra 4 - Registros aleatórios

In [ ]:
# Amostra 1
a1 = dados['price'].iloc[0:1350]
a1.mean(), a1.median(), a1.std(), a1.min(), a1.max()

(np.float64(2541.774074074074), 2839.0, 805.4914306450084, 326, 2963)

In [ ]:
# Amostra 2
a2 = dados['price'].iloc[52589:]
a2.mean(), a2.median(), a2.std(), a2.min(), a2.max()

(np.float64(2460.640266469282), 2633.0, 599.2808190869771, 550, 2757)

In [ ]:
# Amostra 3
a3 = dados['price'].iloc[26295:27645]
a3.mean(), a3.median(), a3.std(), a3.min(), a3.max()

(np.float64(15274.711111111112), 16915.5, 5246.676081965459, 425, 18571)

In [ ]:
# Amostra 4
# a4 = dados['price'].sample(1350)

# SEED (semente) ===> Parâmetro que permite gerar sempre a mesma amostra
# random_state

SEED = 562

a4 = dados['price'].sample(frac=0.025, random_state=SEED)
a4.mean(), a4.median(), a4.std(), a4.min(), a4.max()

(np.float64(3914.8716617210684), 2377.0, 3962.139738474564, 352, 18640)

In [ ]:
a4.head(10)

26412    15937
35738      911
43996      394
9343      4582
9069      4518
18427     7494
30299      447
17591     7080
29987      716
9344      4582
Name: price, dtype: int64

In [8]:
df1 = dados.drop(['Date', 'Time'], axis=1)

df1 = df1.apply(pd.to_numeric, errors='coerce')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Global_active_power    float64
 1   Global_reactive_power  float64
 2   Voltage                float64
 3   Global_intensity       float64
 4   Sub_metering_1         float64
 5   Sub_metering_2         float64
 6   Sub_metering_3         float64
dtypes: float64(7)
memory usage: 110.8 MB

In [11]:
df1.isna().sum()

Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [18]:
perc = ((df1.isna().sum()) / df1.shape[0]) * 100

perc

Global_active_power      1.251844
Global_reactive_power    1.251844
Voltage                  1.251844
Global_intensity         1.251844
Sub_metering_1           1.251844
Sub_metering_2           1.251844
Sub_metering_3           1.251844
dtype: float64

In [19]:
df1.dropna(inplace=True)